<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19 analytic</title>
    <link rel="stylesheet" href="static/css/main.css">
</head>

<body>
    <div class="container">
        <div class="container-main">
            <label for="">Thống kê: <span class="js-today"></span></label>
            <p class="js-time"></p>
            <p>Tổng ca nhiễm: <span class="js-numbercase"></span></p>
            <p>Số ca nhiễm hôm nay: <span class="js-increase"></span></p>

            <div class="wrap-detail">
                Chi tiết:
                <br>
                <input type="text" class="js-search">
                <br>
                <br>
                <table class="js-detail"></table>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/static/js/notify.js"></script>
    <script src="/static/js/main.js"></script>
</body>

</html>